<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @owner.first %>
</p>

<p>
  <strong>Last:</strong>
  <%= @owner.last %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
