<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @disease_date.date %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @disease_date.animal.name %>
</p>

<p>
  <strong>Disease:</strong>
  <%= @disease_date.disease.name %>
</p>

<%= link_to 'Edit', edit_disease_date_path(@disease_date) %> |
<%= link_to 'Back', disease_dates_path %>
