<!DOCTYPE html>
<html>
 <header>
    <h1>Appointment Manager</h1>
    <%= link_to "Owner", owners_path %>
    <%= link_to "Animal", animals_path %>
    <%= link_to "Infection", infections_path %>
    <%= link_to "Disease", diseases_path %>
  </header>
  <head>
    <title>GroupAssignment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
